@model List<ApiProject.WebUI.Dtos.ServiceDtos.ResultServiceDto>

<section id="why-us" class="why-us section light-background">

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="why-box">
                    <h3>Neden Baharat Yolu?</h3>
                    <p>
                        Sıradan bir öğünden fazlasını arayanlar için buradayız. Baharat Yolu olarak, dünyanın dört bir yanından derlediğimiz özgün aromaları yerel malzemelerle buluşturuyoruz. Hijyenik mutfağımız, usta şeflerimizin dokunuşları ve samimi hizmet anlayışımızla, damaklarınızda iz bırakacak gerçek bir lezzet deneyimi sunuyoruz.
                    </p>
                    <div class="text-center">
                        <a href="#" class="more-btn"><span>Learn More</span> <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div><!-- End Why Box -->

            <div class="col-lg-8 d-flex align-items-stretch">
                <div class="row gy-4" data-aos="fade-up" data-aos-delay="200">

                    @if (Model != null && Model.Any())
                    {
                        @foreach (var item in Model)
                        {
                            <div class="col-xl-4">
                                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                    <i class="@item.IconUrl"></i>
                                    <h4>@item.Title</h4>
                                    <p>@item.Description</p>
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</section>